*{
padding: 0;
margin: 0;
background-color: black;
font: bold 100% verdana;
}

#Titulo{
    margin-top: 8%;
    text-align: center;
    color: white;
    font-size: 300%;
}

#imgHtml{
    background-color: orange;
}

#imgCSS{
    background-color: #0080ff;
}
.buttons{
    margin: 20px;
}

li{
    list-style: none;
    display: inline-block;
}

li a{
    border-radius: 30%;
}

img{
    width: 300px;
}

nav{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

p{
    background-color: aliceblue;
    font-size: large;
    font-weight: bold;
}